<div class="landing">
<h1>Welcome to The Grand Tome</h1>
<h3>A place to store info for your DnD Campaign</h3>
</div>
<div style="text-align:center;">
<%= link_to 'To the Quests!', {controller: 'articles'}, class: "btn btn-dark" %>
</div>
