// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.commentSection {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  padding: 5px;
}